In [2]:
# Install requests via: `pip3 install requests`
import requests

with open('test.testing_dataTimestamp.csv', 'r') as file:
    res = requests.post(url='https://ingestion.edgeimpulse.com/api/training/data',
                        data=file,
                        headers={
                            'Content-Type': 'application/cbor',
                            'x-file-name': 'test.csv',
                            'x-label': 'label',
                            'x-api-key': 'ei_238fae...'})

    if (res.status_code == 200):
        print('Uploaded file to Edge Impulse', res.status_code, res.content)
    else:
        print('Failed to upload file to Edge Impulse', res.status_code, res.content)

Failed to upload file to Edge Impulse 401 b'Invalid API key'

In [17]:
import pandas as pd
import os

handsign_testing_data = pd.read_csv('test.testing_dataTimestamp.csv')

In [18]:
handsign_testing_data.head(5)

,Unnamed: 0,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,6,149,149,150,150,150,151,151,150,...,138,148,127,89,82,96,106,112,120,107
1,1,5,126,128,131,132,133,134,135,135,...,47,104,194,183,186,184,184,184,182,180
2,2,10,85,88,92,96,105,123,135,143,...,68,166,242,227,230,227,226,225,224,222
3,3,0,203,205,207,206,207,209,210,209,...,154,248,247,248,253,236,230,240,253,255
4,4,3,188,191,193,195,199,201,202,203,...,26,40,64,48,29,46,49,46,46,53

In [21]:
handsign_testing_data.rename(columns={'label':'timestamp'},inplace=True)

In [25]:
handsign_testing_data.head(5)

,Unnamed: 0,timestamp,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,6,149,149,150,150,150,151,151,150,...,138,148,127,89,82,96,106,112,120,107
1,1,5,126,128,131,132,133,134,135,135,...,47,104,194,183,186,184,184,184,182,180
2,2,10,85,88,92,96,105,123,135,143,...,68,166,242,227,230,227,226,225,224,222
3,3,0,203,205,207,206,207,209,210,209,...,154,248,247,248,253,236,230,240,253,255
4,4,3,188,191,193,195,199,201,202,203,...,26,40,64,48,29,46,49,46,46,53

In [31]:
handsign_testing_data = handsign_testing_data.iloc[:,1:]

In [32]:
handsign_testing_data.head(5)

,timestamp,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,6,149,149,150,150,150,151,151,150,151,...,138,148,127,89,82,96,106,112,120,107
1,5,126,128,131,132,133,134,135,135,136,...,47,104,194,183,186,184,184,184,182,180
2,10,85,88,92,96,105,123,135,143,147,...,68,166,242,227,230,227,226,225,224,222
3,0,203,205,207,206,207,209,210,209,210,...,154,248,247,248,253,236,230,240,253,255
4,3,188,191,193,195,199,201,202,203,203,...,26,40,64,48,29,46,49,46,46,53

In [33]:
handsign_testing_data.to_csv("test.testing_dataTimestamp.csv")